---
- name: Setup web servers
  hosts: web
  become: true
  tasks:
    - name: Install httpd
      yum:
        name: httpd
        state: present
        update_cache: yes
    
    - name: Start and enable apache
      service:
        name: httpd
        state: started
        enabled: yes

    - name: Update index file
      copy:
        dest: /var/www/html/index.html
        content: |
          <html>
          <head>
          <title> {{ hostvars[inventory_hostname]['proj_environment'] | capitalize}} environment </title>
          <style>
          body{
            background-color: {{ 'green' if hostvars[inventory_hostname]['proj_environment'] == 'prod' else 'blue' }};
            color: white;
            text-align: center;
            margin-top: 20%;
          }
          h1{ font-size: 48px; }
          p{ font-size: 20px;}
          </style>
          </head>
          <body>
            <h1>Welcome to {{ hostvars[inventory_hostname]['proj_environment'] | capitalize}} web servers</h1>
            <p>This server is part of {{ hostvars[inventory_hostname]['proj_environment'] }} deployment</p>
          </body>  
          </html>
